<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<form action="/cat" method="post">
    <div class="form-group">
        <label class="form-group__label" for="title">Category Name</label>
        <input class="form-group__input" type="text" id="title" name="name" placeholder="title">
    </div>

    <div class="form-group">
        <label class="form-group__label" for="image">Desciption</label>
        <textarea name="descr" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
        <input type="color" name="clr" value="#5E5E5E"> Цвет категории
    </div>
    <input class="form-button" type="submit" value="Создать">
</form>

<%- include('particles/footer.ejs') %>
